<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gioseppi's Pizza</title>

  <!-- favicon -->
  <link rel="icon" href="img/pizza_icon.jpg">

  <!-- stylesheet -->
  <link rel="stylesheet" href="styles/pizza_styles.css">

  <!-- javascript -->
  <script src = "js/pizza.js" defer></script>
</head>

<body>
  <main>

    <header>
      <img src="img/pizza_guy.png" alt="Delivery man holding pizza." width = "400">
      <h1>Welcome to Gioseppi's Pizza</h1>

      <h2>Serving GRC students for 50 years</h2>

      <hr>

      <p>Come try our food!</p>
      
      <!--Link to route, not to physical file-->
      <a id="contact-button" href="/contact-us" aria="button">Contact Us</a>
    </header>

    <!-- Post method = more secure than get, doesn't pass data in URL -->
    <form id="pizza-form" action="/submit-order" method="post">

    <!-- Contact Info -->
    <fieldset>
      <legend>Contact Info</legend>

      <label for="fname">First Name:
        <span class = "err" id = "err-fname">
          First name is required
        </span>
      </label>
      <input type="text" id="fname" name="fname">

      <label for="lname">Last Name:
        <span class = "err" id = "err-lname">
          Last name is required
        </span>
      </label>
      <input type="text" id="lname" name="lname">

      <label for="email">Email:
        <span class = "err" id = "err-email">
          Email is required.
        </span>
      </label>
      <input type="text" id="email" name="email">
      
    </fieldset>

    <!-- Pick-up or Delivery -->
     <fieldset>
      <legend>Select Pickup or Delivery</legend>

      <span class = "err" id = "err-method">
          Please select pick-up or delivery.
      </span>

      <label for="pickup">
        <input type="radio" id="pickup" value="pickup" name="method"> Pickup
      </label>

      <label for="delivery">
        <input type="radio" id="delivery" value="delivery" name="method"> Delivery
      </label>

      

    </fieldset>

    <!-- Toppings -->
     <fieldset>
      <legend>Select Toppings</legend>
        <label for="pepperoni">
            <input type="checkbox" id="pepperoni" name="toppings[]" value="pepperoni">
            Pepperoni 
            </input>
            <input type="checkbox" id="mushrooms" name="toppings[]" value="mushrooms">
            Mushrooms
            </input>
            <input type="checkbox" id="banana-peppers" name="toppings[]" value="banana-peppers">
            Banana Peppers
            </input>
            <input type="checkbox" id="artichoke" name="toppings[]" value="artichoke">
            Artichoke
            </input>
            <input type="checkbox" id="tomatoes" name="toppings[]" value="tomatoes">
            Tomatoes
            </input>
        </label>
    </fieldset>

    <!-- Size -->
     <fieldset>
      <legend>Pizza Size</legend>
      <span class = "err" id="err-size">Size is required.</span>
        <select id="size" name="size">
          <option value="none">-- Select a size --</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
        </select>
    </fieldset>

    <!-- Comment field -->
      <label for="comment">Comments/Instructions:</label>
      <textarea rows="5" id="comment" name="comment"></textarea>
      
      
      <label for="discount"> <input type="checkbox" name="discount" name="discount" checked> Sign me up for discounts!</label>

    <!-- Submit Button -->
    <button type="submit" id="order-button">Place Order</button>
  </form>

  </main>

</body>
</html>