* {
  box-sizing: border-box;
  color: rgb(43, 28, 10);
}

body {
  background-color: darkred;
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

main {
  background-color: white;
  width: 70%;
  margin: 0 auto 1rem auto;
  padding: 0 1rem 2rem 1rem
  
}

header {
  background-color: lightgray;
  border-radius: .25rem;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}